<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nettuts Email Newsletter</title>
</head>
<body>
    {{> header }}

    {{{body}}}

    {{> footer }}
</body>

</html>